/*
* @Author: 张俊祥
* @Date:   2018-11-07 11:29:07
* @Last Modified by:   张俊祥
* @Last Modified time: 2018-11-12 14:46:15
*/
header{
	width: 100%;
	height: 1rem;
	background: #f6c758;
	padding: 0.29rem;
}
header .left{
	width: 0.4rem;
	height: 0.43rem;
/* 	background: yellow; */
	float: left;
	background-image: url('../img/dibiao.png');
	background-size: 0.4rem 0.43rem;
}
header a{
	height: 0.43rem;
	font-size: 0.18rem;
	float: left;
	line-height: 0.43rem;
	color: #fff;
}
header input{
	width: 4rem;
	height: 0.43rem;
	background: #fff;
	float: left;
	margin-left: 1rem;
	border-radius: 1rem;
	border: none;
	background-image: url('../img/shousuo.png');
	background-repeat: no-repeat;
	background-position: 3.5rem;
	background-size: 0.32rem 0.32rem;
	padding-left: 0.2rem;
}
::-webkit-input-placeholder{
	font-size: 0.18rem;
}
header .right{
	width: 0.43rem;
	height: 0.43rem;
	background-image: url('../img/saoyi.png');
	background-size: 0.43rem 0.43rem;
	float: right;
}
.banner{
	width: 100%;
	height:3.13rem;
/* 	background: red; */
	margin-top: 0.24rem;
	padding: 0 0.24rem;
}
.banner .tupian{
	width: 100%;
	height: 3.13rem;
	/* background: yellow; */
	background-image: url('../img/banner.png');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
.banner .tupian .lunbo{
	width: 1rem;
	height: 0.16rem;
/* 	background: red; */
	margin: 0 auto;
	margin-top: 2.9rem;
}
.banner .tupian .lunbo ul{
	width: 0.1rem;
	height: 0.1rem;
	background: #fcfafa;
	border-radius: 50%;
	float: left;
	margin-left: 0.05rem;
}
.banner .tupian .lunbo ul:nth-child(1){
	background: #f6c758;
}
.chaoshi{
	width: 100%;
	height: 4rem;
/* 	background: red; */
	margin-top: 0.24rem;
	padding: 0 0.24rem;
}
.chaoshi .kuan{
	width: 100%;
	height: 4rem;
/* 	background: yellow; */
}
.chaoshi .kuan ul li{
	width: 25%;
	height: 1.9rem;
/* 	background: red; */
/* 	margin-right: 0.2rem; */
	float: left;
	margin-top: 0.15rem;
}
.chaoshi .kuan ul li:nth-child(4){
	margin-right: 0;
}
.chaoshi .kuan ul li:nth-child(8){
	margin-right: 0;
}
.chaoshi .kuan ul li .top1{
	width: 1.6rem;
	height: 1.55rem;
/* 	background: yellow; */
/* 	background-image: url('../img/shala.png'); */
/* 	background-size: 100% 100%; */
}
.chaoshi .kuan ul li .top1 img{
	width: 100%;
	height: 100%;
}
.chaoshi .kuan ul li a{
	font-size: 0.24rem;
	text-align: center;
	margin-top: 1rem;
	display: block;
	margin-top: 0;
}
.guang{
	width: 100%;
	height: 3rem;
	margin-top: 0.24rem;
	padding: 0 0.4rem;
	/* background: red; */
}
.guang .left2{
	width: 25%;
	height: 3rem;
/* 	background: yellow; */
	float: left;
}
.guang .left2 img{
	width: 100%;
	height: 100%;
}
.guang .top2{
	width: 75%;
	height: 1.5rem;
/* 	background: green; */
	float: left;
}
.guang .top2 img{
	width: 100%;
	height: 100%;
}
.guang .bottom2{
	width: 75%;
	height: 1.5rem;
/* 	background: orange; */
	float: left;
}
.guang .bottom2 img{
	width: 100%;
	height: 100%;
}
.shang{
	width: 100%;
	padding: 0 0.24rem;
	margin-top: 0.24rem;
	margin-bottom: 1.5rem;
}
.shang .top3{
	width: 2rem;
	height: 0.4rem;
/* 	background: red; */
	margin-left: 0.24rem;
}
.shang .top3 h1{
	font-size: 0.36rem;
}
.shang .zh{
	width: 3.6rem;
	height: 0.4rem;
/* 	background: red; */
	margin-top: 0.25rem;
	margin-left: 0.24rem;
}
.shang .zh .left4{
	width: 1.3rem;
	height: 0.4rem;
	background: #f6c758;
	float: left;
	margin-right: 0.22rem;
	border-radius: 0.2rem;
	font-size: 0.24rem;
	color: #fff;
	text-align: center;
	line-height: 0.4rem;
}
.shang .zh .center4{
	width: 0.85rem;
	height: 0.4rem;
	border: 0.02rem solid #f6c758;
	float: left;
	margin-right: 0.22rem;
	border-radius: 0.2rem;
	font-size: 0.24rem;
	color: #040404;
	text-align: center;
	line-height: 0.4rem;
}
.shang .zh .right4{
	width: 0.85rem;
	height: 0.4rem;
	border: 0.02rem solid #f6c758;
	float: left;
	border-radius: 0.2rem;
	font-size: 0.24rem;
	color: #040404;
	text-align: center;
	line-height: 0.4rem;
}
.shang .guo{
	/* width: 100%; */
	height: 2.3rem;
/* 	background: red; */
	margin-top: 0.25rem;
	margin-left: 0.24rem;
	padding: 0.2rem;
	box-shadow: 0 0.05rem 0.09rem 0.02rem #fcf1d4; 
}
.shang .guo .left4{
	width: 1.33rem;
	height: 1.8rem;
/* 	background: yellow; */
	float: left;
	position: relative;

}
.shang .guo .left4 img{
	width: 100%;
	height: 100%;
}
.shang .guo .right4{
	width: 4.7rem;
	height: 1.8rem;
/* 	background: yellow; */
	float: left;
	padding-left: 0.2rem;
}
.shang .guo .right4 .five h2{
	font-size: 0.36rem;
}
.shang .guo .right4 .five2 p{
	font-size: 0.24rem;
	float: left;
	color: #f6c758;
	margin-right: 0.3rem;
}
.shang .guo .right4 .five2{
	width: 100%;
	height: 0.3rem;
}
.shang .guo .right4 .five3{
	width: 100%;
	height: 0.4rem;
}
.shang .guo .right4 .five2 i{
	font-size: 0.24rem;
	float: left;
	margin-right: 0.2rem;
	color: #040404;
}
.shang .guo .right4 .five2 span{
	font-size: 0.24rem;
	float: right;
	color: #040404;
/* 	margin-right: 0.2rem; */
}
.shang .guo .right4 .five3 span{
	font-size: 0.24rem;
	float: left;
	margin-right: 0.3rem;
}
.shang .guo .right4 .five4 img{
	width: 0.3rem;
	height: 0.3rem;
	float: left;
	margin-right: 0.1rem;

}
.shang .guo .right4 .five4 h3{
	font-size: 0.24rem;
	float: left;
	color: #040404;
}
.shang .guo .right4 .five5{
	width: 100%;
	height: 0.2rem;
/* 	background: red; */
	margin-top: 0.4rem;
}
.shang .guo .right4 .five5 .jian{
	font-size: 0.16rem;
	border: 0.02rem solid #f6c758;
	float: left;
	margin-right: 0.2rem;
	color: #f6c758;
}
.tab{
	width: 100%;
	height: 0.98rem;
	background: #fff;
	padding: 0 0.46rem;
	position: fixed;
	left: 0;
	bottom: 0;
/* 	margin-top: 0.2rem; */
/* 	position: absolute;
	bottom: 0.1rem;
	left: 0;
 */}
.tab .neirong{
	width: 100%;
	height: 100%;
/* 	background: yellow; */
}
.tab .neirong a{
	width: 25%;
	height: 1rem;
/* 	background: blue; */
/* 	margin-right: 0.86rem; */
	float: left;
}
.tab .neirong a:nth-child(4){
	margin-right: 0;
}
.tab .neirong a img{
	width: 0.46rem;
	height: 0.46rem;
	display: block;
	margin: 0 auto;
	margin-top: 0.15rem;

}
.tab .neirong a h5{
	font-size: 0.2rem;
	text-align: center;
	font-weight: normal;
}