/*
* @Author: 张俊祥
* @Date:   2018-11-07 11:28:38
* @Last Modified by:   张俊祥
* @Last Modified time: 2018-11-07 11:34:11
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;

}
a{
	text-decoration: none;
	color: #333;
}
i{
	font-style: normal;
}