/*
* @Author: 张俊祥
* @Date:   2018-11-09 13:32:55
* @Last Modified by:   张俊祥
* @Last Modified time: 2018-11-12 15:25:50
*/
body{
	width: 100%;
	height: 100%;
	background: #eeeeed;
}
header{
	width: 100%;
	height: 0.8rem;
	background: #f6c758;
	padding-top: 0.2rem;
}
header .top{
	width: 100%;
	height: 0.4rem;
/* 	background: red; */
	padding: 0 0.37rem;
	display: flex;
	justify-content: space-between;

}
header .top .left{
	width: 0.26rem;
	height: 0.4rem;
/* 	background: blue; */
	text-align: center;
	line-height: 0.4rem;
	color: #fff;
	font-size: 0.26rem;
}
header .top h1{
	font-size: 0.28rem;
	color: #fff;
}
header .top .center{
	width: 0.26rem;
	height: 0.4rem;
/* 	background: blue; */
	margin-left: 0rem;
}
main{
	width: 100%;
	height: 3.5rem;
	background: #fff;
	padding: 0 0.24rem;
	padding-top: 0.24rem;
	display: flex;
	flex-direction: column;
}
main .one{
	width: 100%;
	height: 1.5rem;
	border-radius: 0.2rem;
	background-image: url('../img/guang.png');
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
}
main h2{
	font-size: 0.22rem;
	text-align: center;
	margin-top: 0.2rem;
}
main span.ding{
	font-size: 0.36rem;
	text-align: center;
	margin-top: 0.1rem;
}
main p{
	font-size: 0.18rem;
	text-align: center;
	margin-top: 0.1rem;
}
section{
	width: 100%;
	height: 100%;
/* 	background: #eeeeed; */
	padding: 0.24rem;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}
section ul li{
	width: 100%;
	height: 1rem;
	background: #fff;
	margin-top: 0.05rem;
	border-radius: 0.1rem;
	padding: 0.15rem;
	float: right;
/* 	display: flex;
	align-items: center;
	justify-content: space-around; */
}
section ul li .left2{
	width: 0.56rem;
	height: 0.56rem;
/* 	background: red; */
	margin-left: 0.3rem;
	font-size: 0.56rem;
	text-align: center;
	line-height: 0.56rem;
	color: #f6c758;
	float: left;
}
section ul li .left2 i{
	font-size: 0.56rem;
}
section ul li .right2{
	width: 0.56rem;
	height: 0.56rem;
/* 	background: blue; */
	float: right;
	border-radius: 50%;
	border: 0.01rem solid #d0cdcd;

}
section ul li h3{
	font-size: 0.3rem;
	text-align: center;
	height: 0.56rem;
	line-height: 0.56rem;
/* 	margin-left: 0.45rem; */
	font-weight: normal;
	float: left;
	margin-left: 0.6rem;
/* 	margin-right: 0.5rem; */
}
section ul li:nth-child(4) .right2{
	background: #f8d37b;
	border: none;
	color: #fff;
	text-align: center;
	line-height: 0.2rem;
}
section ul li:nth-child(2) .left2 i{
	color: #21ae3c;
}
section ul li:nth-child(3) .left2 i{
	color: #1296db;
}
section ul li:nth-child(4) .left2{
	background-image: url('../img/yinlian.png');
	background-size: cover;
}
section ul li:nth-child(4) .right2 i{
	font-size: 0.46rem;
}
section ul li:nth-child(5) h4{
	width: 100%;
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.56rem;
	font-weight: normal;
}
footer{
	width: 100%;
	height: 1rem;
	background: #f6c758;
	text-align: center;
	line-height: 1rem;
	font-size: 0.26rem;
	color: #fff;
	font-weight: normal;
	position: fixed;
	left: 0;
	bottom: 0;
}
footer span{
	font-size: 0.46rem;
	font-weight: normal;
	margin-left: 0.1rem;
}
